body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 4em;
	background-image: url("fundo1.png");
	background-size: cover;
	background-position: center;
}
p {
	margin: 1rem;
}
p.piscar {
	opacity: 0;
	animation: piscar 2s linear infinite;
}
@keyframes piscar {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
button, input[type="text"] {
	font-size: 1em;
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #0002;
	text-align: center;
	min-width: 2em;
	position: relative;
	transition: 0.25s ease-in-out;
	cursor: pointer;
	width: 80%;
}
button {
	background-color: #b19b8f;
}
button:active {
	transition: 0s;
	background-color: #000;
	color: #FFF;
}
button.destaque {
	background-color: #0F02;
	margin: 1rem auto;
	display: block;
}
button.destaque:active {
	background-color: #080;
	color: #FFF;
}
input[type="text"].alerta {
	background-color: #F002;
	color: #F00;
	left: 0rem;
	animation: alertar 0.5s ease-in-out forwards;
}
input[type="text"].alerta::placeholder {
	color: #F008;
}
@keyframes alertar {
	0% {
		left: 0rem;
		background-color: #F002;
	}
	10% {
		left: 0.5rem;
	}
	20% {
		left: -0.5rem;
	}
	30% {
		left: 0.5rem;
	}
	40% {
		left: -0.5rem;
	}
	50% {
		left: 0.5rem;
		background-color: #FFF8;
	}
	60% {
		left: -0.5rem;
	}
	70% {
		left: 0.5rem;
	}
	80% {
		left: -0.5rem;
	}
	90% {
		left: 0.5rem;
	}
	100% {
		left: 0rem;
		background-color: #F002;
	}
}
#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#wrapper>div {
	overflow: hidden;
	height: 0px;
	display: flex;
	width: 100%;
	align-items: center;
	transition: height 0.5s ease-in-out;
}
#wrapper>div.ativo {
	height: 100vh;
}
fieldset {
	border: 1px solid #0002;
	box-shadow: 2px 5px 10px #0008;
	background-color: #FFF8;
	border-radius: 1rem;
	margin: 0px;
	padding: 2rem 2rem;
	margin: 0 auto;
	text-align: center;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background-image: url("borda.png");
	background-position: center;
	background-size: 104% 104%;
}
#teclado {
	margin: 1rem auto;
	display: grid;
	width: 50vw;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
#teclado button {
	width: unset;
}
#teclado button:last-child {
	grid-column: 2 / span 2;
}
#confirmar {
	background-color: #FF02;
}
#fim {
	background-color: #0F02;
}
#timer {
	display: block;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 0em;
	width: 0%;
	background-color: #000;
	transition: height 0.5s ease-in-out;
	animation-fill-mode: none;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-name: timer;
}
@keyframes timer {
	0% {
		background-color: #000;
		width: 100%;
	}
	75% {
		background-color: #000;
	}
	100% {
		background-color: #F00;
		width: 0%;
	}
}
.opcoes {
	display: flex;
	max-width: 80vw;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}
.opcoes button {
	width: 10rem;
}
.apoiadores {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 80vw;
	margin: 0 auto;
	flex-wrap: wrap;
}
.apoiadores p {
	font-size: 2rem;
	flex-basis: 100%;
	text-align: center;
}
.apoiadores img {
	width: 10rem;
	height: 10rem;
	max-width: 50%;
	border-radius: 1rem;
	margin: 0.5rem;
	object-fit: contain;
}
.aviso {
	font-size: 1.5rem;
	text-align: center;
	background-color: #FA06;
	border: 1px solid #FA08;
	border-radius: 1rem;
	padding: 1rem;
}
.aviso::before {
	content: "⚠️ ";
}
.logo {
	width: 25rem;
	max-width: 80%;
}
#fotoSelecionada {
	max-width: 75vw;
	max-height: 50vh;
	padding: 1rem;
	background-color: #FFF;
	border: 2px groove #888;
	box-shadow: 2px 5px 10px #0008;
}
#nomeFotoSelecionada {
	font-size: 2rem;
	margin-top: 0rem;
	margin-bottom: 0.5rem;
	font-style: italic;
}
#alertaFallback {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1;
	font-size: 1rem;
	background-color: #FA0;
	padding: 1rem;
	font-weight: bold;
	border-bottom-left-radius: 1rem;
	box-shadow: 0px 4px 6px #000F;
	animation: animAlertaFallback 1s ease-in-out infinite;
}
@keyframes animAlertaFallback {
	0% {
		background-color: #FA0;
	}
	49% {
		background-color: #FA0;
	}
	50% {
		background-color: #F80;
	}
	99% {
		background-color: #F80;
	}
	0% {
		background-color: #FA0;
	}
}